In [13]:
import requests
import pandas as pd

In [2]:
url_path='https://web.spin.pm/api/gbfs/v1/washington_dc/free_bike_status'

In [5]:
response=requests.get(url_path)

In [7]:
data=response.json()

In [11]:
len(data['data']['bikes'])

1851

In [15]:
df=pd.DataFrame(data['data']['bikes'])
df.head()

,bike_id,lat,lon,vehicle_type,is_reserved,is_disabled
0,5dc519f0-6dcf-4517-8412-385ee5ff3037,38.91886,-77.00345,scooter,0,0
1,f93bbb0f-5b91-40f3-b713-81ce8b7d7379,38.90420,-77.05794,scooter,0,0
2,e8ea0aa8-ab43-4505-a450-ea85843207de,38.89421,-76.99776,scooter,0,0
3,21b66e31-443e-453f-a925-88aabf921228,38.92014,-77.04173,scooter,0,0
4,e4922f8a-33e5-47dd-97ce-8104a2e73f22,38.91259,-77.04791,scooter,0,0